@model ContosoU2018.Models.Instructor

@{
    ViewData["Title"] = "Create";
}
<div class="container my-4">
    <h2>Create</h2>

    <h4>Instructor</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HireDate" class="control-label"></label>
                    <input asp-for="HireDate" class="form-control" />
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Province" class="control-label"></label>
                    <input asp-for="Province" class="form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
                @*mwilliams: Updating related data (include office assignment) *@
                <div class="form-group">
                    <label asp-for="OfficeAssignment.Location" class="control-label"></label>
                    <input asp-for="OfficeAssignment.Location" class="form-control" />
                    <span asp-validation-for="OfficeAssignment.Location" class="text-danger"></span>
                </div>
                <div class="row">
                    <h3>Course Assignments</h3>
                    @{
                        var courses = ViewBag.Courses;//get courses
                        int cnt = 0;//counter

                        foreach (var course in courses)
                        {
                            //Create 3 columns using remainder operator (using @: to indicate start of content)
                            if (cnt++ % 3 == 0)
                            {
                                @:</div>
                                @:<div class="row">
                            }
                            //html.raw allows you to print text
                            <div class="col-md-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           @(Html.Raw(course.Assigned ? "checked" : ""))
                                           name="selectedCourses" id="@course.CourseID" value="@course.CourseID">
                                    <label class="form-check-label" for="@course.CourseID">@course.Title</label>
                                </div>
                            </div>

                        }
                    }
                </div>
                @* end mwilliams *@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}