@model ContosoU2018.Models.Instructor

@{
    ViewData["Title"] = "Edit";
}
<div class="container my-4">
    <h2>Edit</h2>

    <h4>Instructor</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HireDate" class="control-label"></label>
                    <input asp-for="HireDate" class="form-control" />
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Province" class="control-label"></label>
                    <input asp-for="Province" class="form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
                @* mwilliams:  Added Office Assignment *@
                <div class="form-group">
                    <label asp-for="OfficeAssignment.Location" class="control-label"></label>
                    <input asp-for="OfficeAssignment.Location" class="form-control" />
                    <span asp-validation-for="OfficeAssignment.Location" class="text-danger"></span>
                </div>
                @* mwilliams:  Added Course Assignments *@
                <div class="row">
                    <h3>Course Assignments</h3>
                    @{
                            //retrieve the ViewBag courses (from AssignedCourseData object)
                            var courses = ViewBag.Courses;
                            //var courses = ViewData["Courses"];

                            int cnt = 0;//start counter variable

                            //Loop the courses
                            foreach (var course in courses)
                            {
                                //Create 3 columns using modulus operator (%)
                                //using @: symbol below to indicate start of content
                                if (cnt++ % 3 == 0)
                                {
                                    @:</div>
                                    @:<div class="row">
                                }
                                //Html.Raw  - allows you to print text
                                        <div class="col-md-3">
                                            <div class="form-check form-check-inline">
                                                <input type="checkbox" class="form-check-input"
                                                       name="selectedCourses"
                                                       id="@course.CourseID"
                                                       value="@course.CourseID"
                                                       @(Html.Raw(course.Assigned ? "checked" : "")) />
                                                <label class="form-check-label"
                                                       for="@course.CourseID">
                                                    @course.Title
                                                </label>
                                            </div>
                                        </div>
                            }
                    }
                </div>


                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>   
    
    
    
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
